
* {
	margin: 0;
	padding: 0;
}
body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #fff url(../imagens/fundo.png) repeat-x;
}

#container {
	width: 750px;
	margin: 0 auto;


}

#topo {
	background: url(../imagens/detalhe-topo.png) no-repeat right top;
	height: 150px;
	padding-top: 25px;
}

.logo {
	width: 152px;
	height: 66px;
	background: url(../imagens/logo.png) no-repeat center;
	text-indent: -3000px;
}

/* Barra De Navegação */
ul {
margin: 0;
padding: 0;
list-style: none;
}

#topo ul {
	background-color: #b10333;
	margin: 30px;
	float: left;
}

#topo ul li {
	background: url(../imagens/divisor.png) no-repeat left;
	float: left;
}

#topo ul li a {
	text-decoration: none;
	display: block;
	color: #fff;
	font-size: 0.9em;
	padding: 0.6em 1.2em;
}

#topo ul li.primeiro {
	background: none;
}

#topo ul li a:hover {
	color: black;
}

body.home #navegacao #home,
body.brasil #navegacao #brasil,
body.internacional #navegacao #internacional,
body.economia #navegacao #economia,
body.saude #navegacao #saude,
body.ciencia #navegacao #ciencia,
body.fotos #navegacao #fotos {
	background: red;
	cursor: text;
}

/* Inicio Configurando as tres Colunas*/

#conteudo {
	background: #f5f5f5;
	margin-top: 60px;
}

#lateral {
	float: left;
	margin: 0 0 20px -750px;
	width: 180px;	
}

#primario {
	float: left;
	margin: 0 0 20px 195px;
	width: 270px
}

#segundario {
	float: left;
	margin: 0 0 20px 15px;
	width: 270px			
}


#duas-colunas #primario {
	width: 555px
}

#uma-colunas #primario {
	margin: 0 0 20px 0;
	width: 750px
}


/* Configurando a Caixa*/

.caixa {
	background: #f3f3f3 url(../imagens/fundo-caixa.png);
	padding: 5px;
	margin-bottom: 10px;
}

.caixa-conteudo {
	background: #fff;
	margin-top: 3px;
	padding: 7px;
}
h2 {                 
	background: #294c71;
	font-size: 1.0em;
	color: white;
	padding: 5px;
}

/* Formatando Menu Lateral */

#lateral ul a {
	font-size: 0.9em;
	padding: 3px;
	display: block;
	line-height: 30px;
	text-decoration: none;
	color: #000;
	border-bottom: 1px solid #f3f3f3;
}

#lateral ul a:hover {
	color: #a1a1a1;
	background: #f9f9f9 url(../imagens/marcador.png) no-repeat left center;
	padding-left: 20px;
}

/* Formatando Menu Lateral */

label {
	cursor: pointer;
	display: block;
}

input {
	padding: 5px;
	width: 125px;
	font-size: 0.9;
	background-color: #fff;
}

input.submit {
	width: 80px;
	color: #fff;
	background-color: #b10333;
	border: 2px solid #870529;
	padding: 5px;
	
}
 
/* Formatando Imagens */

img.imagem-principal {
	width: 98%;
	border: 2px solid #dfdfdf ;
}

/*Formatando Cabeçalhos*/

h3 {
	text-transform: uppercase;
	display: inline;
	font-size: 0.8em;
	padding: 3px;
}

.destaque h3 {
	background: #b10333;
}

.entrevista h3 {
	background: #de003e;
}

/* Lista de Notícias */

#lista-noticias li {
	padding: 2px;
	border-bottom: 1px solid #ccc;
	height: 62px;
}

#lista-noticias li p {
	font-size: 0.7em;
	color: #000;
}

#lista-noticias li h3 {
	font-size: 0.8em;
	padding: 0;
	color: blue;
}

#lista-noticias li a {
	text-decoration: none;
}

#lista-noticias li a img {
	float: left;
	margin: 5px;
}

#lista-noticias li:hover{
	background: #eee;
	padding-left: 10px;
	cursor: pointer;
}

/* Rodape*/

#container-rodape {
	background: #294c71;
	margin: 0 auto;
	clear: both;
}

#rodape {
	text-align: center;
	width: 750px;
	padding: 20px;
	color: white;
}


